header {
  text-align:center;
  color: rgb(147, 141, 144);
  background-color:rgb(30, 33, 34);
}

main {
  display:flex;
  gap:10px;
  padding:20px;
  flex-wrap: wrap;
  color: rgb(162, 160, 163);
  background-color:rgb(75, 67, 67);
}

#pokemon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
}

footer {
  text-align:center;
  color: rgb(147, 141, 144);
  background-color:rgb(30, 33, 34);
}